.table {
    margin-top: 130px;
}

.tabletxt {
    font-family: 'Belleza';
    color: #9D6939;
    padding-left: 15px;
}

.btn {
    width: 91px;
    height: 40px;
    left: 1605px;
    top: 273px;
    border: none;
    background: #D5BA8F;
    border-radius: 6px;
    color: white;
}

.btn:hover {
    background: #9D6939;
}