@font-face {
    font-family: "Source Sans Pro";
    src: url(../Font/SourceSansPro-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    width: 2px;
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;

.App {
    margin-top: 5rem;
}

body {
    font-family: 'Source Sans Pro', Tahoma, Geneva, Verdana, sans-serif;

}