.fontStyle {
    font-size: 60px;
    color: #9D6939;
    font-family: 'Belleza';
}

.fontStyle1 {
    font-size: 50px;
    font-family: 'Belleza';
}

.fontStyle2 {
    margin-top: 100px;
}

.fontStyle3 {
    background-color: antiquewhite;
}