.btnheader {
    width: 142px;
    height: 40px;
    color: white;
    border-style: none !important;
    background: #D5BA8F;
    border-radius: 4px;
}

.btnheader:hover {
    background: #9D6939;
}

.btnheaderspace {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.menuIcon {
    color: black;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.fontsAlign {
    font-size: 17px;
}

.navtxt {
    box-shadow: 0px 2px #e7e7e7;
    height: 80px;
    z-index: 1;
}

.navli:hover {
    /* text-decoration: underline; */
    background: none;
    border-bottom: 2px solid black;
    text-underline-offset: 0.5em !important;
}

.navli1 {
    background: none;
    border-bottom: 2px solid rgb(172, 170, 170);
    text-underline-offset: 0.5em !important;
}

/* Responsive */

@media only screen and (min-width:320px) and (max-width:991px) {
    .btnheaderspace {
        margin-left: 0px !important;
        margin-top: 10px;
        width: 100%;
        text-align: left;
    }
}

.sacle-down {
    font-size: 16px !important;
}

.fixed{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}